<div class="container">
  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <% var ctr = 0; %>
    <% var parts = course.parts %>
      <% parts.forEach((part) => { %>
          <% ctr++; %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading<%= ctr %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapse<%= ctr %>" aria-expanded="false" aria-controls="collapse<%= ctr %>">
                  <i class="fa fa-plus"></i><span><%= part.title %></span>
                  <span id="part-duration">
                    20:19
                  </span>
                  <span id="part-length">
                    <%= part.videos.length %> Lectures
                  </span>
                </a>
              </h4>
            </div>
            <div id="collapse<%= ctr %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= ctr %>">
              <% var count = 0; %>
              <% var ownershipStatus = checkPartOwnership(user.parts, part._id.toString()); %>
              <% part.videos.forEach((vid) => { %>
                <% count++ %>
                <div class="panel-body">
                  <a href="/courses/<%= course.code %>/parts/<%= part.code %>/videos/<%= vid.code %>/learn">
                    <p style="float: left"> <%= count %>. <%= vid.title %> </p>
                    <i style="padding-left: 20px; font-size: 20px"  class="fa fa-play-circle" aria-hidden="true"></i>
                    <span id="part-duration">
                      <%= vid.duration %>
                    </span>
                    <% if (ownershipStatus !== true && ownershipStatus !== "expired") { %>
                      <span id="part-duration">
                        Buy
                      </span>
                    <% } else if (ownershipStatus === "expired") { %>
                      <span id="part-duration">
                        Extend
                      </span>
                    <% } else { %>
                      <span id="part-duration">
                        View
                      </span>
                    <% } %>
                  </a>
                </div>
              <% }); %>
              <% if (user.isAdmin) { %>
                <div class="panel-body">
                  <a href="/courses/<%= course.code %>/parts/<%= part.code %>/videos/new">
                    <div class="container">
                      <p>Add Videos<i style="padding-left: 20px; font-size: 20px"  class="fa fa-plus" aria-hidden="true"></i></p>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
          </div>
      <% }); %>
  </div>
</div>
