<% include ../partials/header %>

    <div class="jumbotron" id="show-courses">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1><%= course.title %></h1>
                    <p id="thai-description"><%= course.description %></p>
                </div>
                <div class="col-sm-4" id="aside-show-courses">
                    <div class="container">
                        <div class="thumbnail">
                            <img src="/assets/images/<%= course.image%>">
                        </div>
                        <div class="inner" data-spy="affix">
                            <h2><%= course.price %> Bahts</h2>
                            <% if (!user) { %>
                              <form action="/courses/<%= course.code %>/buy" method="GET">
                                  <button class="btn btn-info">Buy Now</button>
                              </form>
                              <form action="/courses/<%= course._id %>/cart" method="POST">
                                  <button class="btn btn-default">Add To Cart</button>
                              </form>
                            <% } else if (!user.isAdmin) { %>
                              <% if (checkCourseOwnership(user.courses, course._id.toString()) !== true && checkCourseOwnership(user.courses, course._id.toString()) !== "expired") { %>
                                <form action="/courses/<%= course.code %>/buy" method="GET">
                                    <button class="btn btn-info">Buy Now</button>
                                </form>
                              <% } else if (checkCourseOwnership(user.courses, course._id.toString()) === "expired") { %>
                                <form action="/courses/<%= course.code %>/extend" method="GET">
                                    <button class="btn btn-info">Extend Now</button>
                                </form>
                              <% } %>
                              <% if (checkCartCourseOwnership(user.cartCourses, course._id.toString()) === true) { %>
                                <form action="/courses/checkout" method="GET">
                                    <button class="btn btn-default">Go To Cart</button>
                                </form>
                              <% } else if (checkCourseOwnership(user.courses, course._id.toString()) !== true) { %>
                                <form action="/courses/<%= course.code %>/cart" method="POST">
                                    <button class="btn btn-default">Add To Cart</button>
                                </form>
                              <% } %>
                            <% } %>
                            <div class="container-fluid">
                                <h5>Includes :</h5>
                                <p><i class="fa fa-file-video-o" aria-hidden="true"></i> <%= averageHours %> hours on-demand video</p>
                                <p><i class="fa fa-file-text" aria-hidden="true"></i> <%= course.resources.length %> Supplemental Resource</p>
                                <p><i class="fa fa-universal-access" aria-hidden="true"></i> Full lifetime access</p>
                                <p><i class="fa fa-mobile" aria-hidden="true"></i> Access on mobile and TV</p>
                                <p><i class="fa fa-trophy" aria-hidden="true"></i> Certificate of Completion</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
              <% parts.forEach((part) => { %>
                  <div class="group-item" id="<%= part.code %>">
                     <h3><%= part.title %></h3>
                     <div class="thumbnail">
                         <img src="/assets/images/<%= part.image%>">
                     </div>
                    <div class="captions">
                      <p><%= part.description %></p>
                      <% if (user) { %>
                          <% if (user.isAdmin) { %>
                              <h4><%= part.price %> Baht</h4>
                              <a href="/courses/<%= course.code %>/learn/" class="btn btn-primary">View</a>
                          <% } else if(checkPartOwnership(user.parts, part._id.toString()) === true) { %>
                              <a href="/courses/<%= course.code %>/learn" class="btn btn-primary">Learn</a>
                          <% } else if (checkPartOwnership(user.parts, part._id.toString()) === "expired") { %>
                              <a href="/courses/<%= course.code %>/learn" class="btn btn-primary disabled">Learn</a>
                              <a href="/courses/<%= course.code %>/parts/<%= part.code %>/extend" class="btn btn-success">Extend</a>
                          <% } else { %>
                              <div class="price-and-buy">
                                <h4><%= part.price %> Baht</h4>
                                <form action="/courses/<%= course.code %>/buy" method="GET">
                                    <button class="btn btn-danger">Buy Now</button>
                                </form>
                              </div>
                          <% } %>
                      <% } %>
                    </div>
                  </div>
                  <hr>
             <% }); %>
             <% include ../partials/overview %>
            </div>
        </div>
    <div>
    <script src="/assets/js/accordion.js"></script>
    <script src="/assets/js/affix.js"></script>

<% include ../partials/footer %>
