<% include ../partials/header %>

    <div class="jumbotron" id="show-courses">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1><%= course.title %></h1>
                    <p><%= course.description %></p>
                </div>
                <div class="col-sm-4" id="aside-show-courses">
                    <div class="container">
                        <div class="thumbnail">
                            <img src="/assets/images/<%= course.image%>">
                        </div>
                        <div class="inner" data-spy="affix">
                            <h2><%= course.price %> Bahts</h2>
                            <% if (!user || !user.isAdmin && !user.courses.some(function(userCourse){ return userCourse.course.toString() === course._id.toString() })) { %>
                                <form action="/<%= course.code %>/buy" method="GET">
                                    <button class="btn btn-info">Buy Now</button>
                                </form>
                                <form action="/courses/<%= course._id %>/cart" method="POST">
                                    <button class="btn btn-default">Add To Cart</button>
                                </form>
                            <% } %>
                            <div class="container-fluid">
                                <h5>Includes :</h5>
                                <p><i class="fa fa-file-video-o" aria-hidden="true"></i> <%= averageHours %> hours on-demand video</p>
                                <p><i class="fa fa-file-text" aria-hidden="true"></i> <%= course.resources.length %> Supplemental Resource</p>
                                <p><i class="fa fa-universal-access" aria-hidden="true"></i> Full lifetime access</p>
                                <p><i class="fa fa-mobile" aria-hidden="true"></i> Access on mobile and TV</p>
                                <p><i class="fa fa-trophy" aria-hidden="true"></i> Certificate of Completion</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!--<div class="row">-->
                <!--    <div class="col-sm-4">-->
                <!--        <div class="list-group" id="part-list" data-spy="affix">-->
                <!--             <% var ctr = 0; %>-->
                <!--              <% parts.forEach((part) => { %>-->
                <!--              <% ctr++; %>-->
                <!--                  <% if (ctr === 1) { %>-->
                <!--                      <a href="#<%= part.code %>" class="list-group-item active"><%= part.title %></a>-->
                <!--                  <% } else { %>-->
                <!--                      <a href="#<%= part.code %>" class="list-group-item"><%= part.title %></a>-->
                <!--                  <% } %>-->
                <!--              <% }); %>  -->
                <!--        </div>-->
                <!--    </div>-->
                    <!--<div class="col-sm-8">-->
                         <% parts.forEach((part) => { %>
                             <div class="group-item" id="<%= part.code %>">
                                <h3><%= part.title %></h3>
                                <div class="thumbnail">
                                    <img src="/assets/images/<%= part.image%>">
                                </div>
                                <p><%= part.description %></p>
                                <% if (user) { %>
                                    <% if (user.isAdmin) { %>
                                        <h4><%= part.price %> Baht</h4>
                                        <a href="/<%= course.code %>/learn/" class="btn btn-primary">View</a>
                                    <% } else if(checkPartOwnership(user.parts, part._id.toString()) === true) { %>
                                        <a href="/<%= course.code %>/learn" class="btn btn-primary">Learn</a>
                                    <% } else if (checkPartOwnership(user.parts, part._id.toString()) === "expired") { %>
                                        <a href="/<%= course.code %>/learn" class="btn btn-primary disabled">Learn</a>
                                        <a href="/<%= course.code %>/<%= part.code %>/extend" class="btn btn-success">Extend</a>
                                    <% } else { %> 
                                        <h4><%= part.price %> Baht</h4>
                                        <form action="/<%= course.code %>/buy" method="GET">
                                            <button class="btn btn-danger">Buy Now</button>
                                        </form>
                                        <form action="/courses/<%= course._id %>/cart" method="POST">
                                            <button class="btn btn-success">Add To Cart</button>
                                        </form>
                                    <% } %> 
                                <% } %>
                             </div>
                             <hr>
                        <% }); %>
                    <!--</div>-->
                <!--</div>-->
                <% include ../partials/overview %>
            </div>
        </div>
    <div>
    
    <script src="/assets/js/main.js"></script>
<% include ../partials/footer %>